<section class="game-board">
    <button class="grid-item" data-value="0" id="position0"></button>
    <button class="grid-item" data-value="1" id="position1"></button>
    <button class="grid-item" data-value="2" id="position2"></button>
    <button class="grid-item" data-value="3" id="position3"></button>
    <button class="grid-item" data-value="4" id="position4"></button>
    <button class="grid-item" data-value="5" id="position5"></button>
    <button class="grid-item" data-value="6" id="position6"></button>
    <button class="grid-item" data-value="7" id="position7"></button>
    <button class="grid-item" data-value="8" id="position8"></button>
</section>
